body{
	font-family: 'Open Sans', sans-serif;
	background-color: black;
}
/*===============  Default Style Starts ================*/
.container{
	width: 1200px;
	height: 730px;
	background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
	margin: 20px auto;
	margin-top: 25px;
}
.calculator{
	width: 375px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	background-color: #eaedef;
	margin: 0 auto;
	top: 50px;
	border-radius: 5px;
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.result{
	height: 120px;
	/* border-radius: 10px;
  	border: 1px solid #73AD21; */
}
.history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #919191;
}
.output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
}
.keyboard{
	height: 400px;
}
.operator, .number, .empty{
	width: 60px;
	height: 60px;
	margin: 15px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
	background-color: #9797a8;
}
.number, .empty{
	background-color: #52c781;
}
.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}
button:nth-child(4){
	font-size: 20px;
	background-color: #20b2aa;
}
button:nth-child(8){
	font-size: 20px;
	background-color: #ffa500;
}
button:nth-child(12){
	font-size: 20px;
	background-color: #f08080;
}
button:nth-child(16){
	font-size: 20px;
	background-color: #7d93e0;
}
button:nth-child(20){
	font-size: 20px;
	background-color: #ff00d8;
}
/*===============  Default Style Ends ================*/

/*===============  Media Queries Start ================*/

	/* Custom, iPhone Retina */
	@media only screen and (max-width : 320px) {
		.container{
			width: 275px;
			height: 480px;
			margin-top: -10px;
			background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
		}
		.calculator{
			width: 275px;
			height: 480px;
			background-color: #eaedef;
			margin-right: 20px;
			margin: 0 auto;
			top: 50px;
			border-radius: 5px;
			position: relative;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		.result{
			height: 100px;
		}
		.keyboard{
			padding-top: 20px;
			height: 400px;
		}
		.history{
			text-align: right;
			height: 20px;
			margin: 0 20px;
			padding-top: 20px;
			font-weight: bold;
			font-size: 15px;
			color: #919191;
		}
		.output{
			text-align: right;
			height: 60px;
			margin: 10px 20px;
			font-size: 30px;
		}
		.operator, .number, .empty{
			width: 48px;
			height: 48px;
			margin: 10px;
			float: left;
			border-radius: 50%;
			border-width: 0;
			font-weight: bold;
			font-size: 12px;
			background-color: #9797a8;
		}
		.number, .empty{
			background-color: #52c781;
		}
		.number, .operator{
			cursor: pointer;
		}
		.operator:active, .number:active{
			font-size: 12px;
		}
		.operator:focus, .number:focus, .empty:focus{
			outline: 0;
		}
		button:nth-child(4){
			font-size: 12px;
			background-color: #20b2aa;
		}
		button:nth-child(8){
			font-size: 12px;
			background-color: #ffa500;
		}
		button:nth-child(12){
			font-size: 12px;
			background-color: #f08080;
		}
		button:nth-child(16){
			font-size: 12px;
			background-color: #7d93e0;
		}
		button:nth-child(20){
			font-size: 12px;
			background-color: #ff00d8;
		}
    }

    @media only screen and (min-width : 320px) {
		.container{
			width: 275px;
			height: 480px;
			margin-top: -10px;
			background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
		}
		.calculator{
			width: 275px;
			height: 480px;
			background-color: #eaedef;
			margin-right: 20px;
			margin: 0 auto;
			top: 50px;
			border-radius: 5px;
			position: relative;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		.result{
			height: 100px;
		}
		.keyboard{
			padding-top: 20px;
			height: 400px;
		}
		.history{
			text-align: right;
			height: 20px;
			margin: 0 20px;
			padding-top: 20px;
			font-weight: bold;
			font-size: 15px;
			color: #919191;
		}
		.output{
			text-align: right;
			height: 60px;
			margin: 10px 20px;
			font-size: 30px;
		}
		.operator, .number, .empty{
			width: 48px;
			height: 48px;
			margin: 10px;
			float: left;
			border-radius: 50%;
			border-width: 0;
			font-weight: bold;
			font-size: 12px;
			background-color: #9797a8;
		}
		.number, .empty{
			background-color: #52c781;
		}
		.number, .operator{
			cursor: pointer;
		}
		.operator:active, .number:active{
			font-size: 12px;
		}
		.operator:focus, .number:focus, .empty:focus{
			outline: 0;
		}
		button:nth-child(4){
			font-size: 12px;
			background-color: #20b2aa;
		}
		button:nth-child(8){
			font-size: 12px;
			background-color: #ffa500;
		}
		button:nth-child(12){
			font-size: 12px;
			background-color: #f08080;
		}
		button:nth-child(16){
			font-size: 12px;
			background-color: #7d93e0;
		}
		button:nth-child(20){
			font-size: 12px;
			background-color: #ff00d8;
		}
    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {
		.container{
			width: 275px;
			height: 480px;
			margin-top: -10px;
			background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
		}
		.calculator{
			width: 275px;
			height: 480px;
			background-color: #eaedef;
			margin-right: 20px;
			margin: 0 auto;
			top: 50px;
			border-radius: 5px;
			position: relative;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		.result{
			height: 100px;
		}
		.keyboard{
			padding-top: 20px;
			height: 400px;
		}
		.history{
			text-align: right;
			height: 20px;
			margin: 0 20px;
			padding-top: 20px;
			font-weight: bold;
			font-size: 15px;
			color: #919191;
		}
		.output{
			text-align: right;
			height: 60px;
			margin: 10px 20px;
			font-size: 30px;
		}
		.operator, .number, .empty{
			width: 48px;
			height: 48px;
			margin: 10px;
			float: left;
			border-radius: 50%;
			border-width: 0;
			font-weight: bold;
			font-size: 12px;
			background-color: #9797a8;
		}
		.number, .empty{
			background-color: #52c781;
		}
		.number, .operator{
			cursor: pointer;
		}
		.operator:active, .number:active{
			font-size: 12px;
		}
		.operator:focus, .number:focus, .empty:focus{
			outline: 0;
		}
		button:nth-child(4){
			font-size: 12px;
			background-color: #20b2aa;
		}
		button:nth-child(8){
			font-size: 12px;
			background-color: #ffa500;
		}
		button:nth-child(12){
			font-size: 12px;
			background-color: #f08080;
		}
		button:nth-child(16){
			font-size: 12px;
			background-color: #7d93e0;
		}
		button:nth-child(20){
			font-size: 12px;
			background-color: #ff00d8;
		}
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
		.container{
			width: 768px;
			height: 730px;
			background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
			margin: 20px auto;
			margin-top: 25px;
		}
		.calculator{
			width: 375px;
			height: 600px;
			margin-left: auto;
			margin-right: auto;
			background-color: #eaedef;
			margin: 0 auto;
			top: 50px;
			border-radius: 5px;
			position: relative;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		.result{
			height: 120px;
			/* border-radius: 10px;
			  border: 1px solid #73AD21; */
		}
		.history{
			text-align: right;
			height: 20px;
			margin: 0 20px;
			padding-top: 20px;
			font-size: 15px;
			color: #919191;
		}
		.output{
			text-align: right;
			height: 60px;
			margin: 10px 20px;
			font-size: 30px;
		}
		.keyboard{
			height: 400px;
		}
		.operator, .number, .empty{
			width: 60px;
			height: 60px;
			margin: 15px;
			float: left;
			border-radius: 50%;
			border-width: 0;
			font-weight: bold;
			font-size: 15px;
			background-color: #9797a8;
		}
		.number, .empty{
			background-color: #52c781;
		}
		.number, .operator{
			cursor: pointer;
		}
		.operator:active, .number:active{
			font-size: 13px;
		}
		.operator:focus, .number:focus, .empty:focus{
			outline: 0;
		}
		button:nth-child(4){
			font-size: 20px;
			background-color: #20b2aa;
		}
		button:nth-child(8){
			font-size: 20px;
			background-color: #ffa500;
		}
		button:nth-child(12){
			font-size: 20px;
			background-color: #f08080;
		}
		button:nth-child(16){
			font-size: 20px;
			background-color: #7d93e0;
		}
		button:nth-child(20){
			font-size: 20px;
			background-color: #ff00d8;
		}
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
		.container{
			width: 992px;
			height: 730px;
			background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
			margin: 20px auto;
			margin-top: 25px;
		}
		.calculator{
			width: 375px;
			height: 600px;
			margin-left: auto;
			margin-right: auto;
			background-color: #eaedef;
			margin: 0 auto;
			top: 50px;
			border-radius: 5px;
			position: relative;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		.result{
			height: 120px;
			/* border-radius: 10px;
			  border: 1px solid #73AD21; */
		}
		.history{
			text-align: right;
			height: 20px;
			margin: 0 20px;
			padding-top: 20px;
			font-size: 15px;
			color: #919191;
		}
		.output{
			text-align: right;
			height: 60px;
			margin: 10px 20px;
			font-size: 30px;
		}
		.keyboard{
			height: 400px;
		}
		.operator, .number, .empty{
			width: 60px;
			height: 60px;
			margin: 15px;
			float: left;
			border-radius: 50%;
			border-width: 0;
			font-weight: bold;
			font-size: 15px;
			background-color: #9797a8;
		}
		.number, .empty{
			background-color: #52c781;
		}
		.number, .operator{
			cursor: pointer;
		}
		.operator:active, .number:active{
			font-size: 13px;
		}
		.operator:focus, .number:focus, .empty:focus{
			outline: 0;
		}
		button:nth-child(4){
			font-size: 20px;
			background-color: #20b2aa;
		}
		button:nth-child(8){
			font-size: 20px;
			background-color: #ffa500;
		}
		button:nth-child(12){
			font-size: 20px;
			background-color: #f08080;
		}
		button:nth-child(16){
			font-size: 20px;
			background-color: #7d93e0;
		}
		button:nth-child(20){
			font-size: 20px;
			background-color: #ff00d8;
		}
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
		.container{
			width: 1200px;
			height: 730px;
			background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
			margin: 20px auto;
			margin-top: 25px;
		}
		.calculator{
			width: 375px;
			height: 600px;
			margin-left: auto;
			margin-right: auto;
			background-color: #eaedef;
			margin: 0 auto;
			top: 50px;
			border-radius: 5px;
			position: relative;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		.result{
			height: 120px;
			/* border-radius: 10px;
			  border: 1px solid #73AD21; */
		}
		.history{
			text-align: right;
			height: 20px;
			margin: 0 20px;
			padding-top: 20px;
			font-size: 15px;
			color: #919191;
		}
		.output{
			text-align: right;
			height: 60px;
			margin: 10px 20px;
			font-size: 30px;
		}
		.keyboard{
			height: 400px;
		}
		.operator, .number, .empty{
			width: 60px;
			height: 60px;
			margin: 15px;
			float: left;
			border-radius: 50%;
			border-width: 0;
			font-weight: bold;
			font-size: 15px;
			background-color: #9797a8;
		}
		.number, .empty{
			background-color: #52c781;
		}
		.number, .operator{
			cursor: pointer;
		}
		.operator:active, .number:active{
			font-size: 13px;
		}
		.operator:focus, .number:focus, .empty:focus{
			outline: 0;
		}
		button:nth-child(4){
			font-size: 20px;
			background-color: #20b2aa;
		}
		button:nth-child(8){
			font-size: 20px;
			background-color: #ffa500;
		}
		button:nth-child(12){
			font-size: 20px;
			background-color: #f08080;
		}
		button:nth-child(16){
			font-size: 20px;
			background-color: #7d93e0;
		}
		button:nth-child(20){
			font-size: 20px;
			background-color: #ff00d8;
		}
    }

    /* Very Large Devices, Wide Screens */
    @media only screen and (min-width : 1300px) {
		.container{
			width: 1200px;
			height: 730px;
			background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
			margin: 20px auto;
			margin-top: 25px;
		}
		.calculator{
			width: 375px;
			height: 600px;
			margin-left: auto;
			margin-right: auto;
			background-color: #eaedef;
			margin: 0 auto;
			top: 50px;
			border-radius: 5px;
			position: relative;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
		.result{
			height: 120px;
			/* border-radius: 10px;
			  border: 1px solid #73AD21; */
		}
		.history{
			text-align: right;
			height: 20px;
			margin: 0 20px;
			padding-top: 20px;
			font-size: 15px;
			color: #919191;
		}
		.output{
			text-align: right;
			height: 60px;
			margin: 10px 20px;
			font-size: 30px;
		}
		.keyboard{
			height: 400px;
		}
		.operator, .number, .empty{
			width: 60px;
			height: 60px;
			margin: 15px;
			float: left;
			border-radius: 50%;
			border-width: 0;
			font-weight: bold;
			font-size: 15px;
			background-color: #9797a8;
		}
		.number, .empty{
			background-color: #52c781;
		}
		.number, .operator{
			cursor: pointer;
		}
		.operator:active, .number:active{
			font-size: 13px;
		}
		.operator:focus, .number:focus, .empty:focus{
			outline: 0;
		}
		button:nth-child(4){
			font-size: 20px;
			background-color: #20b2aa;
		}
		button:nth-child(8){
			font-size: 20px;
			background-color: #ffa500;
		}
		button:nth-child(12){
			font-size: 20px;
			background-color: #f08080;
		}
		button:nth-child(16){
			font-size: 20px;
			background-color: #7d93e0;
		}
		button:nth-child(20){
			font-size: 20px;
			background-color: #ff00d8;
		}
    }

/*===============  Media Queries End ================*/









